# Ignore Python cache files
__pycache__/
*.pyc

# Ignore environment folders
.env/
venv/

# Ignore Visual Studio Code settings
.vscode/

# Ignore the benchmark dataset folder
/benchmark/

# Ignore the data source folder
/data/data_source/


/out/
/out_gat/
/out_gcn/
/out_gcn_without_weight/
/out_gmn/
/.conda/
/.idea/
/tmp/

semantic_graph_code_clone.tar.gz
/bin/
/conda-meta/
/include/
