# Ignore Python cache files
__pycache__/
*.pyc

# Ignore environment folders
.env/
venv/

# Ignore Visual Studio Code settings
.vscode/

# Ignore the benchmark dataset folder
/benchmark/dataset/

# Ignore the data source folder
/data/data_source/

/.conda/